<!DOCTYPE html>
<html lang="vi">
<head>
	{% include "html/head.njk" %}
	<link href="../css/danh-sach-style.css" rel="stylesheet">
</head>
<body>
	<div id="page">

	
		<header>
			{% include "html/header.njk" %}
		</header>

		<div style="width:100%;height:150px" ></div><!-- KHOẢNG TRẮNG , ÁP DỤNG CHO CÁC TRANG KHÁC -->

	<section class="container" id="list-page">
		<div class="row mot-hang">
					<a href="" class="big-title">DANH SÁCH ĐIỆN THOẠI</a>
					<span></span>
			</div> <!-- end -row -->
			<!-- THANH TIÊU ĐỀ //////////////////////////////////////////////////////////////////////// -->


		<div class="row">
			<aside class="col-md-3 list-menu-box">
				<ul>
					<li class="menu-box"><span class="title-list sap-xep-title" >SẮP XẾP</span>
						<ul class="sap-xep">
							<li><a href="">Mới nhất</a></li>
							<li><a href="">Bán chạy nhất</a></li>
							<li><a href="">Gía: thấp -> cao</a></li>
							<li><a href="">Giá: cao -> thấp</a></li>
							<li><a href="">Khuyến mại</a></li>
						</ul>
					</li>
					<li class="menu-box"><span class="title-list nhan-hieu-title" >HÃNG SẢN XUẤT</span>
						<ul class="nhan-hieu">
							<li><a href="">APPLE</a></li>
							<li><a href="">SAMSUNG</a></li>
							<li><a href="">SONY</a></li>
							<li><a href="">OPPO</a></li>
							<li><a href="">ASUS</a></li>
							<li><a href="">Các hãng khác</a></li>
						</ul>
					</li>
					<li class="menu-box"><span class="title-list gia-tien-title" >GIÁ TIỀN</span>
						<ul class="gia-tien">
							<li><a href="">Dưới 1 Triệu</a></li>
							<li><a href="">Từ 1 đến 3 triệu</a></li>
							<li><a href="">Từ 3 đến 5 triệu</a></li>
							<li><a href="">Từ 3 đến 7 triệu</a></li>
							<li><a href="">Từ 7 đến 10 triệu</a></li>
							<li><a href="">Từ 10 đến 15 triệu</a></li>
							<li><a href="">Trên 15 triệu</a></li>
						</ul>
					</li>
					<li class="menu-box"><span class="title-list loai-dien-thoai-title" >LOẠI ĐIỆN THOẠI</span>
						<ul class="loai-dien-thoai">
							<li><a href="">IOS (iPhone) </a></li>
							<li><a href="">Android</a></li>
							<li><a href="">Hệ điều hành khác</a></li>
							<li><a href="">Phổ thông</a></li>
						</ul>
					</li>


				</ul>


			</aside> <!-- end list-menu-box -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->


			<div class="col-md-3 col-sm-6">
				<div class="product-box ph">
							<div class="img-product img-ph8"></div>
							<div class="name-price">
								<p class="name-product">OPPO F3 Plus</p>
								<p class="price-product">10.690.000 VNĐ</p>
								<div class="info-product info-ph">
									<div>
										<p>OPPO F3 Plus</p>
										<p>10.690.000 VNĐ</p>
										<span></span>
										<p>Màn hình: 6", Full HD</p>
										<p>HĐH: Android 6.0 (Marshmallow)</p>
										<p>CPU: Snapdragon 653</p>
										<p>Camera: 18 MP, Selfie: 5 MP</p>
										<p>PIN: 1560 mAh, SIM: 1 Sim</p>
									</div>
									<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
									<span class="buy">Mua hàng</span>
									<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
							</div><!-- end name-price -->
						</div><!-- end product-box -->
				<div class="product-box ph">
							<div class="img-product img-ph3"></div>
							<div class="name-price">
								<p class="name-product">iPhone SE 64GB</p>
								<p class="price-product">9.990.000 VNĐ</p>
								<div class="info-product info-ph">
									<div>
										<p>iPhone SE 64GB</p>
										<p>9.990.000 VNĐ</p>
										<span></span>
										<p>Màn hình: 4", Retina</p>
										<p>HĐH: iOS 9</p>
										<p>CPU: Apple A9 2 nhân</p>
										<p>Camera: 12 MP, Selfie: 5 MP</p>
										<p>PIN: 1715 mAh, SIM: 1 Sim</p>
									</div>
									<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
									<span class="buy">Mua hàng</span>
									<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
							</div><!-- end name-price -->
						</div><!-- end product-box -->
				<div class="product-box ph">
							<div class="img-product img-ph6"></div>
							<div class="name-price">
								<p class="name-product">OPPO F1s [17] 64GB</p>
								<p class="price-product">6.990.000 VNĐ</p>
								<div class="info-product info-ph">
									<div>
										<p>OPPO F1s [17] 64GB</p>
										<p>6.990.000 VNĐ</p>
										<span></span>
										<p>Màn hình: 5.5", HD</p>
										<p>HĐH: Android 5.1 (Lollipop)</p>
										<p>CPU: Mediatek MT6750 8 nhân</p>
										<p>Camera: 12 MP, Selfie: 5 MP</p>
										<p>PIN: 1715 mAh, SIM: 1 Sim</p>
									</div>
									<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
									<span class="buy">Mua hàng</span>
									<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
							</div><!-- end name-price -->
						</div><!-- end product-box -->

			</div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="col-md-3 col-sm-6">
				<div class="product-box ph">
							<div class="img-product img-ph4"></div>
							<div class="name-price">
								<p class="name-product">iPhone 5s 32GB</p>
								<p class="price-product">5.990.000 VNĐ</p>
								<div class="info-product info-ph">
									<div>
										<p>iPhone 5s 32GB</p>
										<p>5.990.000 VNĐ</p>
										<span></span>
										<p>Màn hình: 4", Retina </p>
										<p>HĐH: iOS 10</p>
										<p>CPU: Apple A7 2 nhân</p>
										<p>Camera: 8 MP, Selfie: 5 MP</p>
										<p>PIN: 1560 mAh, SIM: 1 Sim</p>
									</div>
									<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
									<span class="buy">Mua hàng</span>
									<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
							</div><!-- end name-price -->
						</div><!-- end product-box -->
				<div class="product-box ph">
							<div class="img-product img-ph2"></div>
							<div class="name-price">
								<p class="name-product">iPhone 6s 32GB</p>
								<p class="price-product">14.990.000 VNĐ</p>
								<div class="info-product info-ph">
									<div>
										<p>iPhone 6s 32GB</p>
										<p>14.990.000 VNĐ</p>
										<span></span>
										<p>Màn hình: 4.7", Retina HD</p>
										<p>HĐH: iOS 10</p>
										<p>CPU: Apple A9 2 nhân</p>
										<p>Camera: 12 MP, Selfie: 5 MP</p>
										<p>PIN: 1715 mAh, SIM: 1 Sim</p>
									</div>
									<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
									<span class="buy">Mua hàng</span>
									<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
							</div><!-- end name-price -->
						</div><!-- end product-box -->
				<div class="product-box ph">
							<div class="img-product img-ph7"></div>
							<div class="name-price">
								<p class="name-product">Asus Zenfone 3</p>
								<p class="price-product">7.990.000 VNĐ</p>
								<div class="info-product info-ph">
									<div>
										<p>Asus Zenfone 3</p>
										<p>7.990.000 VNĐ</p>
										<span></span>
										<p>Màn hình: 4.7", Retina HD</p>
										<p>HĐH: iOS 10</p>
										<p>CPU: Apple A9 2 nhân</p>
										<p>Camera: 12 MP, Selfie: 5 MP</p>
										<p>PIN: 1715 mAh, SIM: 1 Sim</p>
									</div>
									<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
									<span class="buy">Mua hàng</span>
									<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
							</div><!-- end name-price -->
						</div><!-- end product-box -->

			</div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="col-md-3 col-sm-6">
				<div class="product-box ph">
							<div class="img-product img-ph10"></div>
							<div class="name-price">
								<p class="name-product">OPPO F1s</p>
								<p class="price-product">6.490.000 VNĐ</p>
								<div class="info-product info-ph">
									<div>
										<p>OPPO F1s</p>
										<p>6.490.000 VNĐ</p>
										<span></span>
										<p>Màn hình: 6", Retina HD</p>
										<p>HĐH: Android 6.0 (Marshmallow)</p>
										<p>CPU: Apple A10 Fusion 4 nhân</p>
										<p>Camera: 2x12 MP, Selfie: 7 MP</p>
										<p>PIN: 2900 mAh, SIM: 1 SIM</p>
									</div>
									<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
									<span class="buy">Mua hàng</span>
									<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
							</div><!-- end name-price -->
						</div><!-- end product-box -->
				<div class="product-box ph">
							<div class="img-product img-ph11"></div>
							<div class="name-price">
								<p class="name-product">HTC Desire 728G LTE</p>
								<p class="price-product">3.490.000 VNĐ</p>
								<div class="info-product info-ph">
									<div>
										<p>HTC Desire 728G LTE</p>
										<p>3.490.000 VNĐ</p>
										<span></span>
										<p>Màn hình: 6", Retina HD</p>
										<p>HĐH: Android 6.0 (Marshmallow)</p>
										<p>CPU: Apple A10 Fusion 4 nhân</p>
										<p>Camera: 2x12 MP, Selfie: 7 MP</p>
										<p>PIN: 2900 mAh, SIM: 1 SIM</p>
									</div>
									<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
									<span class="buy">Mua hàng</span>
									<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
							</div><!-- end name-price -->
						</div><!-- end product-box -->
				<div class="product-box ph">
							<div class="img-product img-ph12"></div>
							<div class="name-price">
								<p class="name-product">OPPO A39 (Neo 9s)</p>
								<p class="price-product">4.490.000 VNĐ</p>
								<div class="info-product info-ph">
									<div>
										<p>OPPO A39 (Neo 9s)</p>
										<p>4.490.000 VNĐ</p>
										<span></span>
										<p>Màn hình: 6", Retina HD</p>
										<p>HĐH: Android 6.0 (Marshmallow)</p>
										<p>CPU: Apple A10 Fusion 4 nhân</p>
										<p>Camera: 2x12 MP, Selfie: 7 MP</p>
										<p>PIN: 2900 mAh, SIM: 1 SIM</p>
									</div>
									<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
									<span class="buy">Mua hàng</span>
									<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
							</div><!-- end name-price -->
						</div><!-- end product-box -->

			</div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->





			<div class="col-md-offset-3 col-md-9 pagination-box">
				<ul class="pagination">
				    <li class="active"><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li><a href="#">&gt;</a></li>
				    <li><a href="#">Trang  cuối</a></li>
				  </ul>


			</div>
		</div><!-- end row -->



	</section>

	<a href="#page" class="back-to-top"></a>

		<div class="contact-box">
			<p class="contact-box-title contact-box-button">Liên hệ - Góp ý <span class="inline">với chúng tôi</span></p>
			<span class="contact-box-icon contact-box-button"></span>

			<form role="form">
				<div class="form-group">
					<label for="contact-name">Tên của bạn :</label>
					<input type="text" class="form-control" id="contact-name" placeholder="">
				</div>
				<div class="form-group">
					<label for="contact-email">Địa chỉ Email của bạn :</label>
					<input type="email" class="form-control" id="contact-email" placeholder="">
				</div>
				<div class="form-group">
					<label for="contact-content">Nội dung:</label>
					<br>
					<textarea rows="4" cols="30" name="comment" id="contact-content"></textarea>
				</div>
				<div class="form-group"><button type="submit" class="btn btn-default">Submit</button></div>
			</form>
		</div> <!-- end contact-box  -->








	<footer>
        {% include "html/footer.njk" %}
    </footer><!-- end footer-->



</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/index.js"></script>
	<script type="text/javascript" src="../js/login-form-js.js"></script>
</body>
</html>