<a href="#page" class="back-to-top"></a>

<div class="contact-box">
    <p class="contact-box-title contact-box-button">Liên hệ - Góp ý <span class="inline">với chúng tôi</span></p>
    <span class="contact-box-icon contact-box-button"></span>

    <form role="form">
        <div class="form-group">
            <label for="contact-name">Tên của bạn :</label>
            <input type="text" class="form-control" id="contact-name" placeholder="">
        </div>
        <div class="form-group">
            <label for="contact-email">Địa chỉ Email của bạn :</label>
            <input type="email" class="form-control" id="contact-email" placeholder="">
        </div>
        <div class="form-group">
            <label for="contact-content">Nội dung:</label>
            <br>
            <textarea rows="4" cols="30" name="comment" id="contact-content"></textarea>
        </div>
        <div class="form-group"><button type="submit" class="btn btn-default btt-button">Submit</button></div>
    </form>
</div>
<!-- end contact-box  -->
<!-- HẾT CONTACT BOX / HẾT CONTACT BOX / HẾT CONTACT BOX / HẾT CONTACT BOX / HẾT CONTACT BOX / -->