{% extends "index.html" %} 
{% block head %}
<link href="/css/danh-sach-style.css" rel="stylesheet"> 
{% endblock %} 
{% block content %}
<section class="container" id="list-page">
	<div class="row mot-hang">
		<a href="/phu-kien" class="big-title">DANH SÁCH PHỤ KIỆN</a>
		<span></span>
	</div>
	<!-- end -row -->
	<!-- THANH TIÊU ĐỀ //////////////////////////////////////////////////////////////////////// -->
	<div class="row">
		<aside class="col-md-3 list-menu-box">
			<ul>
				<li class="menu-box"><span class="title-list sap-xep-title">SẮP XẾP</span>
					<ul class="sap-xep">
						<li><a href="/phu-kien/?order=newest">Mới nhất</a></li>
						<li><a href="/phu-kien/?order=hotest">Bán chạy nhất</a></li>
						<li><a href="/phu-kien/?order=lowtohigh">Gía: thấp -> cao</a></li>
						<li><a href="/phu-kien/?order=hightolow">Giá: cao -> thấp</a></li>
						<!--<li><a href="/dien-thoai/?order=promotion">Khuyến mại</a></li>-->
					</ul>
				</li>
			</ul>
		</aside>
		<!-- end list-menu-box -->
		<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->


		<div class="col-md-9 col-sm-6">

			{% for each in products %}
			<div class="col-md-4 col-sm-6">
				<div class="product-box ph">
					<img src="/images/products/{{each.product_id}}/{{each.product_id}}_0.jpg">
					<div class="name-price">
						<p class="name-product">{{ each.product_name }}</p>
						<p class="price-product">{{ each.price }} VNĐ</p>
						<div class="info-product info-ph">
							<div>
								<p>{{ each.product_name }}</p>
								<p>{{ each.price }} VNĐ</p>
								<span></span>
								<p>Màn hình: {{each.main_property['Kích thước màn hình']}}</p>
								<p>HĐH: {{each.main_property['Hệ điều hành']}}</p>
								<p>Camera: {{each.main_property['Máy ảnh chính']}}</p>
								<p>PIN: {{each.main_property['Dung lượng pin (mAh)']}}</p>
							</div>
							<a href="/phu-kien/{{each.product_id}}" class="watch">Xem chi tiết</a>
							<span class="buy">Mua hàng</span>
							<span class="buy added">Đã thêm vào giỏ hàng</span>
						</div>
						<!-- end info-box -->
					</div>
					<!-- end name-price -->
				</div>
				<!-- end product-box -->
			</div>
			{% endfor %}

		</div>
		<!-- end col -->
		<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

		<div class="col-md-12 pagination-box">
			<ul class="pagination">
				{% for i in range(1, allpage) %}
				{% if loop.first %}
				<li class="active"><a href="?page={{i}}">{{i}}</a></li>
				{% elseif loop.last %}
				<li><a href="?page={{i}}">>Trang cuối</a></li>
				{% else %}
				<li><a href="?page={{i}}">{{i}}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<!-- end col -->

	</div>
	<!-- end row -->

</section>
{% endblock %}