{% extends "index.html" %}

{% block head %}
    <link href="/css/danh-sach-style.css" rel="stylesheet">
{% endblock %}

{% block content %}

	<section class="container" id="list-page">
		<div class="row mot-hang">
					<a href="" class="big-title">DANH SÁCH ĐIỆN THOẠI</a>
					<span></span>
			</div> <!-- end -row -->
			<!-- THANH TIÊU ĐỀ //////////////////////////////////////////////////////////////////////// -->


		<div class="row">
			<aside class="col-md-3 list-menu-box">
				<ul>
					<li class="menu-box"><span class="title-list sap-xep-title" >SẮP XẾP</span>
						<ul class="sap-xep">
							<li><a href="">Mới nhất</a></li>
							<li><a href="">Bán chạy nhất</a></li>
							<li><a href="">Gía: thấp -> cao</a></li>
							<li><a href="">Giá: cao -> thấp</a></li>
							<li><a href="">Khuyến mại</a></li>
						</ul>
					</li>
					<li class="menu-box"><span class="title-list nhan-hieu-title" >HÃNG SẢN XUẤT</span>
						<ul class="nhan-hieu">
							<li><a href="">APPLE</a></li>
							<li><a href="">SAMSUNG</a></li>
							<li><a href="">SONY</a></li>
							<li><a href="">OPPO</a></li>
							<li><a href="">ASUS</a></li>
							<li><a href="">Các hãng khác</a></li>
						</ul>
					</li>
					<li class="menu-box"><span class="title-list gia-tien-title" >GIÁ TIỀN</span>
						<ul class="gia-tien">
							<li><a href="">Dưới 1 Triệu</a></li>
							<li><a href="">Từ 1 đến 3 triệu</a></li>
							<li><a href="">Từ 3 đến 5 triệu</a></li>
							<li><a href="">Từ 3 đến 7 triệu</a></li>
							<li><a href="">Từ 7 đến 10 triệu</a></li>
							<li><a href="">Từ 10 đến 15 triệu</a></li>
							<li><a href="">Trên 15 triệu</a></li>
						</ul>
					</li>
					<li class="menu-box"><span class="title-list loai-dien-thoai-title" >LOẠI ĐIỆN THOẠI</span>
						<ul class="loai-dien-thoai">
						    {% for item in product_type %}
							    <li><a href="/dien-thoai/{{ item.product_type_id }}">{{ item.name }}</a></li>
							{% endfor %}
						</ul>
					</li>


				</ul>


			</aside> <!-- end list-menu-box -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

            {% block sideLeftProduct %}
			<div class="col-md-9 col-sm-6">

			    {% for item_p in products %}

                    <div class="col-md-4 col-sm-6">
                        <div class="product-box ph">
                            <img src="/images/products/{{each.product_id}}/{{each.product_id}}_0.jpg">
                            <div class="name-price">
                                <p class="name-product">{{ item_p.product_name }}</p>
                                <p class="price-product">{{ item_p.price }} VNĐ</p>
                                <div class="info-product info-ph">
                                    <div>
                                        <p>{{ item_p.product_name }}</p>
                                        <p>{{ item_p.price }} VNĐ</p>
                                        <span></span>
                                        <!--
                                        {% for des1, des2 in item_p.main_property %}
                                            <p>{{ des1 }} {{ des2 }}</p>
                                        {% endfor %}
                                        -->
                                    </div>
                                    <a href="/dien-thoai/{{ item_p.product_id }}" class="watch">Xem chi tiết</a>
                                    <span class="buy">Mua hàng</span>
                                    <span class="buy added">Đã thêm vào giỏ hàng</span>
                                    </div><!-- end info-box -->
                            </div><!-- end name-price -->
                        </div><!-- end product-box -->
                    </div>
                {% endfor %}


			<div class="col-md-12 pagination-box">
				<ul class="pagination">
					<li><a href="?page=1" {% if (pageCurrent < 1) %} class="noclick" {% endif %}>Trang đầu</a></li>
					{% for i in range(1, allpage + 1) %}
						{% if (pageCurrent > 0) %}
							<li 3 {% if(pageCurrent == i) %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
						{% elif (i === 1) %}
							<li 1 class="active"><a href="?page={{ i }}">{{ i }}</a></li>
						{% else %}
							<li 2><a href="?page={{ i }}">{{ i }}</a></li>
						{% endif %}
					{% endfor %}
					<li><a href="?page={{ allpage }}">Trang cuối</a></li>
				  </ul>
			</div><!-- end col -->

            </div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->
			<style>
				.noclick{
					pointer-events: none;
					opacity: .5;
				}
				.active {
					pointer-events: none;
				}
			</style>

		</div><!-- end row -->
        {% endblock %}
	</section>
{% endblock %}