{% extends "index.njk" %}

{% block head %}
<link href="/css/danh-sach-style.css" rel="stylesheet">
<link href="/css/chi-tiet-style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="container" id="list-page">
		<div class="row mot-hang">
            <a href="" class="big-title big-title-list-page">ĐIỆN THOẠI</a>
            <span></span>
		</div> <!-- end -row -->

		<!-- THANH TIÊU ĐỀ //////////////////////////////////////////////////////////////////////// -->

      	<div class="row">

      		<aside class="col-md-2 list-menu-box">
				<ul>
					<li class="menu-box"><a class="title-list" href="">HÃNG SẢN XUẤT</a>
						<ul>
							<li><a class="chi-tiet-active" href="">APPLE</a></li>
							<li><a href="">SAMSUNG</a></li>
							<li><a href="">SONY</a></li>
							<li><a href="">OPPO</a></li>
							<li><a href="">ASUS</a></li>
							<li><a href="">LENOVO</a></li>
							<li><a href="">Các hãng khác</a></li>
						</ul>
					</li>
					<li class="menu-box"><a class="title-list" href="">GIÁ TIỀN</a>
						<ul>
							<li><a href="">Dưới 1 Triệu</a></li>
							<li><a href="">Từ 1 đến 3 triệu</a></li>
							<li><a href="">Từ 3 đến 5 triệu</a></li>
							<li><a href="">Từ 3 đến 7 triệu</a></li>
							<li><a href="">Từ 7 đến 10 triệu</a></li>
							<li><a href="">Từ 10 đến 15 triệu</a></li>
							<li><a href="">Trên 15 triệu</a></li>
						</ul>
					</li>
					<li class="menu-box"><a class="title-list" href="">LOẠI ĐIỆN THOẠI</a>
						<ul>
							<li><a href="">IOS (iPhone) </a></li>
							<li><a href="">Android</a></li>
							<li><a href="">Hệ điều hành khác</a></li>
							<li><a href="">Phổ thông</a></li>
						</ul>
					</li>
					
					
				</ul>

			</aside> <!-- end list-menu-box -->

			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

      		<div class="col-md-7 produce-detail">
				<h2 class="name-product">{{ detail.product_name }}</h2>
			</div>

			<div class="col-md-7 produce-detail" >
				<div class="image-product-box">
					
					<div class="mau mau0">
						<img class="product-big-image showImageAfterOnclick" src="../images/big.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm1.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm2.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm3.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm4.jpg">
					</div>
					<div class="mau mau1">
						<img class="product-big-image showImageAfterOnclick " src="../images/sm22.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm21.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm26.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm24.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm25.jpg">
					</div>
					<div class="mau mau2">
						<img class="product-big-image showImageAfterOnclick " src="../images/sm31.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm32.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm33.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm34.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm35.jpg">
					</div>
					<div class="mau mau3">
						<img class="product-big-image showImageAfterOnclick " src="../images/sm41.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm42.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm43.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm44.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm46.jpg">
					</div>
					<div class="mau mau4">
						<img class="product-big-image showImageAfterOnclick " src="../images/sm51.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm52.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm53.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm54.jpg">
						<img class="product-sm-image ClickEvent" src="../images/sm55.jpg">
					</div>
				</div>
				
			</div>

			



			<div class="col-md-3 col-xs-12 produce-detail-2">
				<h2 class="price-product">{{ detail.price }} VNĐ</h2>
				<p class="code">Mã sản phẩm:<span>{{ detail.product_id }}</span></P>
				<ul class="promotion">
					<li>
						<ul>
							<li>Trong hộp có :</li>
							<li>Sạc, Tai nghe, Sách hướng dẫn, Jack chuyển tai nghe 3.5mm, Cáp, Cây lấy sim</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>Bảo hành chính hãng :</li>
							<li class="cut-bot">Thân máy 12 tháng</li>
							<li class="cut-bot">Sạc 12 tháng</li>
							<li>Tai nghe 12 tháng</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>Giao hàng :</li>
							<li>Tận nơi miễn phí trong 30 phút</li>
						</ul>
					</li>
					<li>
						<ul>
							<li>Đổi hàng :</li>
							<li>1 đổi 1 trong 1 tháng với sản phẩm lỗi</li>
						</ul>
					</li>
				</ul>

				<p class="color-text">Màu sắc :</p>
				<button productColor="mau0" class="color-box cb0 onclickColor"href=""></button>
				<button productColor="mau1" class="color-box cb1 onclickColor"href=""></button>
				<button productColor="mau2" class="color-box cb2 onclickColor"href=""></button>
				<button productColor="mau3" class="color-box cb3 onclickColor"href=""></button>
				<button productColor="mau4" class="color-box cb4 onclickColor"href=""></button>

  				<p class="quantity color-text"> Hiện có : {{ detail.quantity }} sản phẩm</p>

				<span class="buy product-buy-box" >MUA HÀNG</span>
				<span class="buy product-buy-box added" >Đã thêm vào giỏ hàng</span>

			</div>

			<div class="col-md-7 col-sm-12 col-sx-12 produce-detail detail-product-box">
					<h3>Thông số kỹ thuật </h3>
					<ul class="cau-hinh-don-gian">
						<li><p>Màn hình:<span>LED IPS LCD, 5.5", Retina HD<span></p></li>
						<li><p>Hệ điều hành:<span>iOS 10</span></p></li>
						<li><p>CPU:<span>Apple A10 Fusion 4 nhân 64-bit</span></p></li>
						<li><p>Camera sau:<span>Hai camera 12 MP</span></p></li>
						<li><p>Camera trước:<span>7 MP</span></p></li>
						<li><p>Bộ nhớ trong:<span>256GB</span></p></li>
						<li><p>Thẻ SIM:<span>1 SIM, Nano SIM<span></p></li>
						<li><p>Dung lượng pin:<span>2900 mAh</span></p></li>
					</ul>
					<button class="watch-more">Xem cấu hình chi tiết</button>
					<ul class="cau-hinh-chi-tiet">
                            {{ JSON.stringify(detail.properties) | dump('\n') }}
                            {% for nameSection, itemSection in detail.properties %}
                                <li class="label">{{ itemSection }}</li>
                                {% for itemField, nameField in itemSection %}
                                    <li>
                                        <p>{{ itemField }}</p>
                                        <p>{{ nameField }}</p>
                                    </li>
                                {% endfor %}
                            {% endfor %}
					</ul>
					<button class="watch-more close-button">Đóng</button>

			</div>





			<div class="col-md-3 col-xs-12 produce-detail-2 video-box">
				<p class="big-title video-text">Video sản phẩm</p>
				<div class="chi-tiet-video embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/R4jul7XuhK0" frameborder="0" allowfullscreen>></iframe>
				</div>	
				<div class="video2 chi-tiet-video embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/voPP7LPX01E" frameborder="0" allowfullscreen></iframe>
				</div>

			</div>		




			</div> <!-- end col-->
		</div> <!-- end row -->	

<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->
		<div class="container" >
			<div class="row mot-hang">
						<a href="danh-sach.html" class="big-title">SẢN PHẨM TƯƠNG TỰ</a>
						<span></span>
					</div> <!-- end row -->

					<div class="row">
						<div class="owl-carousel">
							<div class="owl-carousel-slide">
								<div class="product-box ph">
									<img src="../images/p9.jpg">
									<div class="name-price">
										<p class="name-product">Samsung Galaxy C9 Pro</p>
										<p class="price-product">11.490.000 VNĐ</p>
										<div class="info-product info-ph">
											<div>
												<p>Samsung Galaxy C9 Pro</p>
												<p>11.490.000 VNĐ</p>
												<span></span>
												<p>Màn hình: 6", Retina HD</p>
												<p>HĐH: Android 6.0 (Marshmallow)</p>
												<p>CPU: Apple A10 Fusion 4 nhân</p>
												<p>Camera: 2x12 MP, Selfie: 7 MP</p>
												<p>PIN: 2900 mAh, SIM: 1 SIM</p>
											</div>
											<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
											<span class="buy">Mua hàng</span>
											<span class="buy added">Đã thêm vào giỏ hàng</span>
										</div><!-- end info-box -->
									</div><!-- end name-price -->
								</div><!-- end product-box -->
							</div>
							<div class="owl-carousel-slide">
								<div class="product-box ph">
									<img src="../images/p10.jpg">
									<div class="name-price">
										<p class="name-product">OPPO F1s</p>
										<p class="price-product">6.490.000 VNĐ</p>
										<div class="info-product info-ph">
											<div>
												<p>OPPO F1s</p>
												<p>6.490.000 VNĐ</p>
												<span></span>
												<p>Màn hình: 6", Retina HD</p>
												<p>HĐH: Android 6.0 (Marshmallow)</p>
												<p>CPU: Apple A10 Fusion 4 nhân</p>
												<p>Camera: 2x12 MP, Selfie: 7 MP</p>
												<p>PIN: 2900 mAh, SIM: 1 SIM</p>
											</div>
											<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
											<span class="buy">Mua hàng</span>
											<span class="buy added">Đã thêm vào giỏ hàng</span>
										</div><!-- end info-box -->
									</div><!-- end name-price -->
								</div><!-- end product-box -->
							</div>
							<div class="owl-carousel-slide">
								<div class="product-box ph">
									<img src="../images/p11.jpg">
									<div class="name-price">
										<p class="name-product">HTC Desire 728G LTE</p>
										<p class="price-product">3.490.000 VNĐ</p>
										<div class="info-product info-ph">
											<div>
												<p>HTC Desire 728G LTE</p>
												<p>3.490.000 VNĐ</p>
												<span></span>
												<p>Màn hình: 6", Retina HD</p>
												<p>HĐH: Android 6.0 (Marshmallow)</p>
												<p>CPU: Apple A10 Fusion 4 nhân</p>
												<p>Camera: 2x12 MP, Selfie: 7 MP</p>
												<p>PIN: 2900 mAh, SIM: 1 SIM</p>
											</div>
											<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
											<span class="buy">Mua hàng</span>
											<span class="buy added">Đã thêm vào giỏ hàng</span>
										</div><!-- end info-box -->
									</div><!-- end name-price -->
								</div><!-- end product-box -->
							</div>
							<div class="owl-carousel-slide">
								<div class="product-box ph">
									<img src="../images/p12.jpg">
									<div class="name-price">
										<p class="name-product">OPPO A39 (Neo 9s)</p>
										<p class="price-product">4.490.000 VNĐ</p>
										<div class="info-product info-ph">
											<div>
												<p>OPPO A39 (Neo 9s)</p>
												<p>4.490.000 VNĐ</p>
												<span></span>
												<p>Màn hình: 6", Retina HD</p>
												<p>HĐH: Android 6.0 (Marshmallow)</p>
												<p>CPU: Apple A10 Fusion 4 nhân</p>
												<p>Camera: 2x12 MP, Selfie: 7 MP</p>
												<p>PIN: 2900 mAh, SIM: 1 SIM</p>
											</div>
											<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
											<span class="buy">Mua hàng</span>
											<span class="buy added">Đã thêm vào giỏ hàng</span>
										</div><!-- end info-box -->
									</div><!-- end name-price -->
								</div><!-- end product-box -->
							</div>
							<div class="owl-carousel-slide">
								<div class="product-box ph">
									<img src="../images/p4.jpg">
									<div class="name-price">
										<p class="name-product">iPhone 5s 32GB</p>
										<p class="price-product">5.990.000 VNĐ</p>
										<div class="info-product info-ph">
											<div>
												<p>iPhone 5s 32GB</p>
												<p>5.990.000 VNĐ</p>
												<span></span>
												<p>Màn hình: 4", Retina </p>
												<p>HĐH: iOS 10</p>
												<p>CPU: Apple A7 2 nhân</p>
												<p>Camera: 8 MP, Selfie: 5 MP</p>
												<p>PIN: 1560 mAh, SIM: 1 Sim</p>
											</div>
											<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
											<span class="buy">Mua hàng</span>
											<span class="buy added">Đã thêm vào giỏ hàng</span>
										</div><!-- end info-box -->
									</div><!-- end name-price -->
								</div><!-- end product-box -->		
							</div>
						</div><!-- end owl-carousel -->	
					</div><!-- end row -->	
					<!-- HẾT HÀNG NÀY RÔI / HẾT HÀNG NÀY RÔI / HẾT HÀNG NÀY RÔI / HẾT HÀNG NÀY RÔI /-->
				</div>



		
	

	
	</section>

{% endblock %}