<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Template</title>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <style>
        .box {
            list-style: none;
            width: 26%;
            float: left;
            border: 1px solid #000;
            padding: 10px;
        }
        div#results {
            float: left;
            width: 100%;
            border: 1px solid #000;
            padding: 0 40px;
        }
        table tr th {
            text-align: left;
        }
        h3 {
            padding: 0;
            margin: 0;
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>
</head>
<body>

<div id="template" class="box">
    <table></table>
</div>
<div id="section" class="box">
    <table></table>

</div>
<div id="field" class="box">
    <table></table>

</div>

<div id="results">


    <table>

    </table>
</div>
</body>
<script>



    //Lấy query từ URL
    function gup(name, url) {
        if (!url) url = location.href;
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(url);
        return results == null ? null : results[1];
    }

    let log = console.log;

    //Mảng template chính
    let temObj = {
        'M01': 'Smart Phone',
        'M02': 'TIVI',
        'M03': 'Tủ lạnh',
        'M04': 'Máy giặt',
        'M05': 'Nồi cơm điện',
        'M06': 'Điều hòa'
    };

    //Mảng section
    let fSectionObj = [
        {
            'id': 'FS01',
            'name': 'Màn hình',
            'parent': 'M01'
        }, {
            'id': 'FS02',
            'name': 'Camera sau',
            'parent': 'M01'
        }, {
            'id': 'FS03',
            'name': 'Camera trước',
            'parent': 'M01'
        }, {
            'id': 'FS04',
            'name': 'Hệ điều hành - CPU',
            'parent': 'M01'
        }, {
            'id': 'FS05',
            'name': 'Kết nối',
            'parent': 'M02'
        }, {
            'id': 'FS06',
            'name': 'Thông tin Smart Tivi/ Internet Tivi',
            'parent': 'M02'
        }, {
            'id': 'FS07',
            'name': 'Công nghệ giặt',
            'parent': 'M03'
        }, {
            'id': 'FS08',
            'name': 'Tổng quan',
            'parent': 'M03'
        }
    ];

    //Mảng Field
    let fieldObj = [
        {
            'id': 'Fi01',
            'name': 'Công nghệ màn hình',
            'type': 'text',
            'description': 'Lorem ipsum CNMH',
            'validation': '',
            'required': '1',
            'parent': 'FS01'
        }, {
            'id': 'Fi02',
            'name': 'Độ phân giải',
            'type': 'text',
            'description': 'Lorem ipsum DPG',
            'validation': '',
            'required': '1',
            'parent': 'FS01'
        }, {
            'id': 'Fi03',
            'name': 'Màn hình rộng',
            'type': 'text',
            'description': 'Lorem ipsum MHR',
            'validation': '',
            'required': '0',
            'parent': 'FS01'
        }, {
            'id': 'Fi04',
            'name': 'Mặt kính cảm ứng',
            'type': 'text',
            'description': 'Lorem ipsum MKCU',
            'validation': '',
            'required': '1',
            'parent': 'FS01'
        }, {
            'id': 'Fi05',
            'name': 'Độ phân giải',
            'type': 'text',
            'description': 'Lorem ipsum DPG Fi05',
            'validation': '',
            'required': '1',
            'parent': 'FS02'
        }, {
            'id': 'Fi06',
            'name': 'Quay phim',
            'type': 'text',
            'description': 'Lorem ipsum QP',
            'validation': '',
            'required': '0',
            'parent': 'FS01'
        }, {
            'id': 'Fi07',
            'name': 'Kết nối Internet',
            'type': 'text',
            'description': 'Lorem ipsum KNI',
            'validation': '',
            'required': '1',
            'parent': 'FS05'
        }, {
            'id': 'Fi08',
            'name': 'Ảnh',
            'type': 'photo',
            'description': 'Lorem ipsum Anh',
            'validation': '',
            'required': '1',
            'parent': 'FS05'
        }, {
            'id': 'Fi09',
            'name': 'Số',
            'type': 'number',
            'description': 'Lorem ipsum Số',
            'validation': '',
            'required': '1',
            'parent': 'FS05'
        }, {
            'id': 'Fi10',
            'name': 'Môn học',
            'type': 'checkbox',
            'description': 'Lorem ipsum Checkbox',
            'validation': 'Tiếng Anh|Toán|Văn,Sử',
            'required': '1',
            'parent': 'FS05'
        }, {
            'id': 'Fi10',
            'name': 'Quốc tịch',
            'type': 'radio',
            'description': 'Lorem ipsum Radio',
            'validation': 'Việt nam|Mỹ|Canada',
            'required': '1',
            'parent': 'FS05'
        }, {
            'id': 'Fi11',
            'name': 'Textaera',
            'type': 'textarea',
            'description': 'Lorem ipsum Textarea',
            'validation': '',
            'required': '1',
            'parent': 'FS05'
        }, {
            'id': 'Fi12',
            'name': 'Thong tin nguoi dung',
            'type': 'checkbox',
            'description': 'Lorem1',
            'validation': '1|2|3',
            'required': '1',
            'parent': 'FS05'
        }, {
            'id': 'Fi13',
            'name': 'gioi tinh',
            'type': 'checkbox',
            'description': 'Lorem1',
            'validation': 'nam|nu',
            'required': '1',
            'parent': 'FS05'
        }
    ];

    //Hiển thị tất cả Template
    for(let id1 in temObj){
        $('#template table').append('<tr><td><a href="http://localhost:3000/?id=' + id1 + '">' + id1 + '</a></td><td>' + temObj[id1] + '</td></tr>');
    };

    //Hiển thị tất cả Section
    fSectionObj.forEach((section) => {
        $('#section table').append('<tr><td>' + section.id + '</td><td>' + section.name + '</td><td>' + section.parent + '</td></tr>');
    });

    //Hiển thị tất cả Field
    fieldObj.forEach((section) => {
        $('#field table').append('<tr><td>' + section.id + '</td><td>' + section.name + '</td><td>' + section.parent + '</td></tr>');
    });

    //Xử lý ID Section từ ID Template
    const sectionListByIdTemplate = (idTemplate) => {
        let check = 0;
        let id = idTemplate;
        let sectionArr = {};
        fSectionObj.forEach((section) => {
            if(section.parent === id){
                check = 1;
                sectionArr[section.id] = section.name;
            }
        });
        if(check != 1){
            log('Bạn cần thêm Section cho template hiện tại.')
        }else{
            fieldListByIdSection(sectionArr);
        }
        return true;
    };

    //Từ mảng ID Section, hiển thị tất cả Field trong Section đó
    const fieldListByIdSection = (sectionArr) => {
        for(let id in sectionArr){
            $('#results table').append('<tr><th colspan="2"><h3>' + sectionArr[id] + '</h3></th>');
            fieldObj.forEach((field) => {
                if(field.parent === id){
                    show(field.id, field.name, field.type, field.description, field.validation, field.required);
                }
            });
        }
    };

    //Hiển thị ra ngoài
    const show = (id, name, type, description, validation, required) => {
        if(type === 'text'){
            $('#results table').append('<tr class="box_function ' + id + '"><td>' + name + '</td><td>' +
                '<input type="text" name="field[]">' +
                '</td></tr>');
        }else if(type === 'checkbox'){
            let check = $.trim(validation).length;
            if(check > 0) {
                $('#results table').append('<tr class="box_function checkbox_' + id + '"><td>' + name + '</td><td class="checkbox_container_' + id + '"></td></tr>');
                let value = validation.split("|");
                value.forEach((val) => {
                    $('.checkbox_container_' + id).append('<input type="checkbox" name="field[]" value="' + val + '">' + val);
                });
            }else {
                $('#results table').append('<tr class="box_function checkbox_' + id + '"><td>' + name + '</td>' +
                    '<td><input type="checkbox" name="field[]" value="' + name + '">' +
                    '</td></tr>');
            }
        }else if(type === 'radio'){
            let check = $.trim(validation).length;
            if(check > 0) {
                $('#results table').append('<tr class="box_function radio_' + id + '"><td>' + name + '</td><td class="radio_container_' + id + '"></td></tr>');
                let value = validation.split("|");
                value.forEach((val) => {
                    $('.radio_container_' + id).append('<input type="radio" name="field[]" value="' + val + '">' + val);
                });
            }else {
                $('#results table').append('<tr class="box_function radio_' + id + '"><td>' + name + '</td><td>' +
                    '<input type="radio" name="field[]" value="' + name + '">' +
                    '</td></tr>');
            }
        }else if(type === 'photo'){
            $('#results table').append('<tr class="box_function ' + id + '"><td>' + name + '</td><td>' +
                '<input type="file" name="field[]" accept="image/*">' +
                '</td></tr>');
        }else if(type === 'number'){
            $('#results table').append('<tr class="box_function ' + id + '"><td>' + name + '</td><td>' +
                '<input type="number" name="field[]">' +
                '</td></tr>');
        }else if(type === 'textarea'){
            $('#results table').append('<tr class="box_function ' + id + '"><td>' + name + '</td><td>' +
                '<textarea id="' + id + '" name="field[]"></textarea>' +
                '</td></tr>');
        }else{

        }
    };

    let id = gup('id', window.location.href);

    if(!temObj[id]){
        log('Template không tồn tại.');
    }else{
        sectionListByIdTemplate(id);
    }

</script>
</html>
