{% extends "index.html" %} 
{% block head %}
<link href="/css/phu-kien-style.css" rel="stylesheet">
<link href="/css/khuyen-mai-style.css" rel="stylesheet">
{% endblock %} 
{% block content %}
<section class="container" id="list-page">
	<div class="row mot-hang">
		<a href="" class="big-title">KHUYẾN MẠI ĐIỆN THOẠI</a>
		<span></span>
	</div>
	<!-- end -row -->
	<!-- THANH TIÊU ĐỀ //////////////////////////////////////////////////////////////////////// -->

	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div class="product-box ph">
				<span class="tag-hot tag-new">SALE</span>
				<div class="img-product img-ph4"></div>
				<div class="name-price">
					<p class="name-product">iPhone 5s 32GB</p>
					<p class="price-product sale">6.990.000 VNĐ</p>
					<p class="price-product">5.990.000 VNĐ</p>
					<div class="info-product info-ph">
						<div>
							<p>iPhone 5s 32GB</p>
							<p> <span class="sale">6.990.000 VNĐ</span> 5.990.000 VNĐ</p>
							<span></span>
							<p>Màn hình: 4", Retina </p>
							<p>HĐH: iOS 10</p>
							<p>CPU: Apple A7 2 nhân</p>
							<p>Camera: 8 MP, Selfie: 5 MP</p>
							<p>PIN: 1560 mAh, SIM: 1 Sim</p>
						</div>
						<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
						<span class="buy">Mua hàng</span>
						<span class="buy added">Đã thêm vào giỏ hàng</span>
					</div>
					<!-- end info-box -->
				</div>
				<!-- end name-price -->
			</div>
			<!-- end product-box -->
			<div class="product-box ph">
				<span class="tag-hot tag-new">SALE</span>
				<div class="img-product img-ph12"></div>
				<div class="name-price">
					<p class="name-product">OPPO A39 (Neo 9s)</p>
					<p class="price-product sale">5.490.000 VNĐ</p>
					<p class="price-product">4.490.000 VNĐ</p>
					<div class="info-product info-ph">
						<div>
							<p>OPPO A39 (Neo 9s)</p>
							<p> <span class="sale">5.490.000 VNĐ</span> 4.490.000 VNĐ</p>
							<span></span>
							<p>Màn hình: 6", Retina HD</p>
							<p>HĐH: Android 6.0 (Marshmallow)</p>
							<p>CPU: Apple A10 Fusion 4 nhân</p>
							<p>Camera: 2x12 MP, Selfie: 7 MP</p>
							<p>PIN: 2900 mAh, SIM: 1 SIM</p>
						</div>
						<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
						<span class="buy">Mua hàng</span>
						<span class="buy added">Đã thêm vào giỏ hàng</span>
					</div>
					<!-- end info-box -->
				</div>
				<!-- end name-price -->
			</div>
			<!-- end product-box -->

		</div>
		<!-- end col -->
		<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

		<div class="col-md-3 col-sm-6">
			<div class="product-box ph">
				<span class="tag-hot tag-new">SALE</span>
				<div class="img-product img-ph11"></div>
				<div class="name-price">
					<p class="name-product">HTC Desire 728G LTE</p>
					<p class="price-product sale">4.490.000 VNĐ</p>
					<p class="price-product">3.490.000 VNĐ</p>
					<div class="info-product info-ph">
						<div>
							<p>HTC Desire 728G LTE</p>
							<p> <span class="sale">4.490.000 VNĐ</span> 3.490.000 VNĐ</p>
							<span></span>
							<p>Màn hình: 6", Retina HD</p>
							<p>HĐH: Android 6.0 (Marshmallow)</p>
							<p>CPU: Apple A10 Fusion 4 nhân</p>
							<p>Camera: 2x12 MP, Selfie: 7 MP</p>
							<p>PIN: 2900 mAh, SIM: 1 SIM</p>
						</div>
						<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
						<span class="buy">Mua hàng</span>
						<span class="buy added">Đã thêm vào giỏ hàng</span>
					</div>
					<!-- end info-box -->
				</div>
				<!-- end name-price -->
			</div>
			<!-- end product-box -->
			<div class="product-box ph">
				<span class="tag-hot tag-new">SALE</span>
				<div class="img-product img-ph10"></div>
				<div class="name-price">
					<p class="name-product">OPPO F1s</p>
					<p class="price-product sale">7.490.000 VNĐ</p>
					<p class="price-product">6.490.000 VNĐ</p>
					<div class="info-product info-ph">
						<div>
							<p>OPPO F1s</p>
							<p> <span class="sale">7.490.000 VNĐ</span> 6.490.000 VNĐ</p>
							<span></span>
							<p>Màn hình: 6", Retina HD</p>
							<p>HĐH: Android 6.0 (Marshmallow)</p>
							<p>CPU: Apple A10 Fusion 4 nhân</p>
							<p>Camera: 2x12 MP, Selfie: 7 MP</p>
							<p>PIN: 2900 mAh, SIM: 1 SIM</p>
						</div>
						<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
						<span class="buy">Mua hàng</span>
						<span class="buy added">Đã thêm vào giỏ hàng</span>
					</div>
					<!-- end info-box -->
				</div>
				<!-- end name-price -->
			</div>
			<!-- end product-box -->

		</div>
		<!-- end col -->
		<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

		<div class="col-md-3 col-sm-6 col4">
			<div class="product-box ph">
				<span class="tag-hot tag-new">SALE</span>
				<div class="img-product img-ph7"></div>
				<div class="name-price">
					<p class="name-product">Asus Zenfone 3</p>
					<p class="price-product sale">8.990.000 VNĐ</p>
					<p class="price-product">7.990.000 VNĐ</p>
					<div class="info-product info-ph">
						<div>
							<p>Asus Zenfone 3</p>
							<p> <span class="sale">8.990.000 VNĐ</span> 7.990.000 VNĐ</p>
							<span></span>
							<p>Màn hình: 4.7", Retina HD</p>
							<p>HĐH: iOS 10</p>
							<p>CPU: Apple A9 2 nhân</p>
							<p>Camera: 12 MP, Selfie: 5 MP</p>
							<p>PIN: 1715 mAh, SIM: 1 Sim</p>
						</div>
						<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
						<span class="buy">Mua hàng</span>
						<span class="buy added">Đã thêm vào giỏ hàng</span>
					</div>
					<!-- end info-box -->
				</div>
				<!-- end name-price -->
			</div>
			<!-- end product-box -->
			<div class="product-box ph">
				<span class="tag-hot tag-new">SALE</span>
				<div class="img-product img-ph4"></div>
				<div class="name-price">
					<p class="name-product">iPhone 5s 32GB</p>
					<p class="price-product sale">6.990.000 VNĐ</p>
					<p class="price-product">5.990.000 VNĐ</p>
					<div class="info-product info-ph">
						<div>
							<p>iPhone 5s 32GB</p>
							<p> <span class="sale">6.990.000 VNĐ</span> 5.990.000 VNĐ</p>
							<span></span>
							<p>Màn hình: 4", Retina </p>
							<p>HĐH: iOS 10</p>
							<p>CPU: Apple A7 2 nhân</p>
							<p>Camera: 8 MP, Selfie: 5 MP</p>
							<p>PIN: 1560 mAh, SIM: 1 Sim</p>
						</div>
						<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
						<span class="buy">Mua hàng</span>
						<span class="buy added">Đã thêm vào giỏ hàng</span>
					</div>
					<!-- end info-box -->
				</div>
				<!-- end name-price -->
			</div>
			<!-- end product-box -->
		</div>
		<!-- end col -->
		<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->
		<div class="col-md-3 col-sm-6 col4">
			<div class="product-box ph">
				<span class="tag-hot tag-new">SALE</span>
				<div class="img-product img-ph5"></div>
				<div class="name-price">
					<p class="name-product">Samsung Galaxy J7 Prime</p>
					<p class="price-product sale">6.990.000 VNĐ</p>
					<p class="price-product">5.990.000 VNĐ</p>
					<div class="info-product info-ph">
						<div>
							<p>Samsung Galaxy J7 Prime</p>
							<p> <span class="sale">6.990.000 VNĐ</span> 5.990.000 VNĐ</p>
							<span></span>
							<p>Màn hình: 5.5", Full HD </p>
							<p>HĐH: Android 6.0 (Marshmallow)</p>
							<p>CPU: Exynos 7870 8 nhân</p>
							<p>Camera: 13 MP, Selfie: 8 MP</p>
							<p>PIN: 1560 mAh, SIM: 1 Sim</p>
						</div>
						<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
						<span class="buy">Mua hàng</span>
						<span class="buy added">Đã thêm vào giỏ hàng</span>
					</div>
					<!-- end info-box -->
				</div>
				<!-- end name-price -->
			</div>
			<!-- end product-box -->
			<div class="product-box ph">
				<span class="tag-hot tag-new">SALE</span>
				<div class="img-product img-ph3"></div>
				<div class="name-price">
					<p class="name-product">iPhone SE 64GB</p>
					<p class="price-product sale">10.990.000 VNĐ</p>
					<p class="price-product">9.990.000 VNĐ</p>
					<div class="info-product info-ph">
						<div>
							<p>iPhone SE 64GB</p>
							<p> <span class="sale">10.990.000 VNĐ</span> 9.990.000 VNĐ</p>
							<span></span>
							<p>Màn hình: 4", Retina</p>
							<p>HĐH: iOS 9</p>
							<p>CPU: Apple A9 2 nhân</p>
							<p>Camera: 12 MP, Selfie: 5 MP</p>
							<p>PIN: 1715 mAh, SIM: 1 Sim</p>
						</div>
						<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
						<span class="buy">Mua hàng</span>
						<span class="buy added">Đã thêm vào giỏ hàng</span>
					</div>
					<!-- end info-box -->
				</div>
				<!-- end name-price -->
			</div>
			<!-- end product-box -->
		</div>
		<!-- end col -->
		<div class="col-sx-12 pagination-box">
			<ul class="pagination">
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&gt;</a></li>
				<li><a href="#">Cuối</a></li>
			</ul>
		</div>
		<!-- end pagination-box -->




		<div class="row mot-hang">
			<a href="" class="big-title">KHUYẾN MẠI PHỤ KIỆN</a>
			<span></span>
		</div>
		<!-- end -row -->
		<!-- THANH TIÊU ĐỀ //////////////////////////////////////////////////////////////////////// -->

		<div class="row">

			<div class="col-md-3 col-sm-6">
				<div class="product-box ph">
					<span class="tag-hot tag-new">SALE</span>
					<div class="img-product img-pk1"></div>
					<div class="name-price">
						<p class="name-product">Loa Bluetooth Awei Y200</p>
						<p class="price-product sale">700.000 VNĐ</p>
						<p class="price-product">600.000 VNĐ</p>
						<div class="info-product info-ph">
							<div>
								<p>Loa Bluetooth Awei Y200</p>
								<p>600.000 VNĐ</p>
								<span></span>
								<p>Các nút ấn trên loa là dạng cảm ứng nhạy và dễ sử dụng.</p>
								<p>Các nút ấn trên loa là dạng cảm ứng nhạy và dễ sử dụng.</p>
								<p>Công nghệ bluetooth 3.0 giúp kết nối trong khoảng 10m.</p>
							</div>
							<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
							<span class="buy">Mua hàng</span>
							<span class="buy added">Đã thêm vào giỏ hàng</span>
						</div>
						<!-- end info-box -->
					</div>
					<!-- end name-price -->
				</div>
				<!-- end product-box -->
				<div class="product-box ph">
					<span class="tag-hot tag-new">SALE</span>
					<div class="img-product img-pk2"></div>
					<div class="name-price">
						<p class="name-product">Thẻ nhớ Micro SD 64 GB</p>
						<p class="price-product sale">850.000 VNĐ</p>
						<p class="price-product">750.000 VNĐ</p>
						<div class="info-product info-ph">
							<div>
								<p>Thẻ nhớ Micro SD 64 GB Class 10</p>
								<p>750.000 VNĐ</p>
								<span></span>
								<p>Tốc độ đọc: 45 MB/s</p>
								<p>Tốc độ ghi: 10 MB/s</p>
								<p>Thoải mái lưu trữ cho điện thoại, máy tính bảng</p>
							</div>
							<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
							<span class="buy">Mua hàng</span>
							<span class="buy added">Đã thêm vào giỏ hàng</span>
						</div>
						<!-- end info-box -->
					</div>
					<!-- end name-price -->
				</div>
				<!-- end product-box -->

			</div>
			<!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="col-md-3 col-sm-6">
				<div class="product-box ph">
					<span class="tag-hot tag-new">SALE</span>
					<div class="img-product img-pk3"></div>
					<div class="name-price">
						<p class="name-product">Dây cáp Micro USB 1m</p>
						<p class="price-product sale">150.000 VNĐ</p>
						<p class="price-product">100.000 VNĐ</p>
						<div class="info-product info-ph">
							<div>
								<p>Dây cáp Micro USB 1 m Cliptec Titanium</p>
								<p>100.000 VNĐ</p>
								<span></span>
								<p>Chất lượng tương đương với hàng chính hãng</p>
								<p>Dùng để truyền dữ liệu hay sạc pin</p>
								<p>Dây dài 100 cm</p>
							</div>
							<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
							<span class="buy">Mua hàng</span>
							<span class="buy added">Đã thêm vào giỏ hàng</span>
						</div>
						<!-- end info-box -->
					</div>
					<!-- end name-price -->
				</div>
				<!-- end product-box -->
				<div class="product-box ph">
					<span class="tag-hot tag-new">SALE</span>
					<div class="img-product img-pk4"></div>
					<div class="name-price">
						<p class="name-product">Tai nghe chụp tai</p>
						<p class="price-product sale">700.000 VNĐ</p>
						<p class="price-product">600.000 VNĐ</p>
						<div class="info-product info-ph">
							<div>
								<p>Tai nghe chụp tai</p>
								<p>600.000 VNĐ</p>
								<span></span>
								<p>Lớp đệm tai êm và dày, giúp đeo tai thoải mái và hạn chế bị rách.</p>
								<p>Có thể kéo dãn tai nghe 4 cm để vừa vặn hơn khi sử dụng.</p>
								<p>Tương thích với hầu hết điện thoại hiện nay.</p>
							</div>
							<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
							<span class="buy">Mua hàng</span>
							<span class="buy added">Đã thêm vào giỏ hàng</span>
						</div>
						<!-- end info-box -->
					</div>
					<!-- end name-price -->
				</div>
				<!-- end product-box -->

			</div>
			<!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="col-md-3 col-sm-6 col4">
				<div class="product-box ph">
					<span class="tag-hot tag-new">SALE</span>
					<div class="img-product img-pk7"></div>
					<div class="name-price">
						<p class="name-product">Pin sạc dự phòng 5.000mAh</p>
						<p class="price-product sale">300.000 VNĐ</p>
						<p class="price-product">200.000 VNĐ</p>
						<div class="info-product info-ph">
							<div>
								<p>Pin sạc dự phòng Safari 2 5.000mAh</p>
								<p>200.000 VNĐ</p>
								<span></span>
								<p>Thiết kế bắt mắt với họa tiết caro.</p>
								<p>Đèn LED báo mức pin khả dụng.</p>
								<p>Chức năng lắc để hiển thị dung lượng pin.</p>
							</div>
							<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
							<span class="buy">Mua hàng</span>
							<span class="buy added">Đã thêm vào giỏ hàng</span>
						</div>
						<!-- end info-box -->
					</div>
					<!-- end name-price -->
				</div>
				<!-- end product-box -->
				<div class="product-box ph">
					<span class="tag-hot tag-new">SALE</span>
					<div class="img-product img-pk8"></div>
					<div class="name-price">
						<p class="name-product">Loa Bluetooth Thỏ</p>
						<p class="price-product sale">400.000 VNĐ</p>
						<p class="price-product">300.000 VNĐ</p>
						<div class="info-product info-ph">
							<div>
								<p>Loa Bluetooth iCutes MB-M815 Thỏ</p>
								<p>300.000 VNĐ</p>
								<span></span>
								<p>Loa hình chú thỏ nhiều màu sắc, vỏ cao su hạn chế trầy xước</p>
								<p>Âm thanh phát ra lớn, không bị rè, nhỏ gọn trong lòng bàn tay.</p>
							</div>
							<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
							<span class="buy">Mua hàng</span>
							<span class="buy added">Đã thêm vào giỏ hàng</span>
						</div>
						<!-- end info-box -->
					</div>
					<!-- end name-price -->
				</div>
				<!-- end product-box -->
			</div>
			<!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->
			<div class="col-md-3 col-sm-6 col4">
				<div class="product-box ph">
					<span class="tag-hot tag-new">SALE</span>
					<div class="img-product img-pk9"></div>
					<div class="name-price">
						<p class="name-product">Gậy chụp ảnh Osmia OW1</p>
						<p class="price-product sale">80.000 VNĐ</p>
						<p class="price-product">70.000 VNĐ</p>
						<div class="info-product info-ph">
							<div>
								<p>Gậy chụp ảnh Osmia OW1</p>
								<p>70.000 VNĐ</p>
								<span></span>
								<p>Thiết kế gậy rất chuyên nghiệp, cầm chắc tay.</p>
								<p>Phù hợp với nhiều dòng điện thoại dưới 6 inch khác nhau.</p>
								<p>Không cần hẹn giờ, chỉ cần ấn nút trên thân gậy để chụp ảnh.</p>
							</div>
							<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
							<span class="buy">Mua hàng</span>
							<span class="buy added">Đã thêm vào giỏ hàng</span>
						</div>
						<!-- end info-box -->
					</div>
					<!-- end name-price -->
				</div>
				<!-- end product-box -->
				<div class="product-box ph">
					<span class="tag-hot tag-new">SALE</span>
					<div class="img-product img-pk10"></div>
					<div class="name-price">
						<p class="name-product">Ốp lưng in Hoa văn</p>
						<p class="price-product sale">80.000 VNĐ</p>
						<p class="price-product">70.000 VNĐ</p>
						<div class="info-product info-ph">
							<div>
								<p>Ốp lưng Huawei Y6 Nhựa Solid in Hoa văn</p>
								<p>70.000 VNĐ</p>
								<span></span>
								<p>Chất liệu nhựa cao cấp thời trang và đẹp mắt</p>
								<p>Thiết kế vừa vặn và ôm sát thân máy</p>
								<p>oạ tiết màu sắc, nổi bật</p>
							</div>
							<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
							<span class="buy">Mua hàng</span>
							<span class="buy added">Đã thêm vào giỏ hàng</span>
						</div>
						<!-- end info-box -->
					</div>
					<!-- end name-price -->
				</div>
				<!-- end product-box -->
			</div>
			<!-- end col -->

			<div class="col-sx-12 pagination-box">
				<ul class="pagination">
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&gt;</a></li>
					<li><a href="#">Cuối</a></li>
				</ul>
			</div>
			<!-- end pagination-box -->
</section>
{% endblock %}