{% extends "index.html" %} 
{% block head %}
<link href="/css/danh-sach-style.css" rel="stylesheet">
<link href="/css/chi-tiet-style.css" rel="stylesheet">
<link href="/css/gio-hang-style.css" rel="stylesheet"> 
{% endblock %} 
{% block content %}
<section class="container" id="cart-page">
	<div class="row mot-hang">
		<a href="" class="big-title">Đơn hàng</a>
		<span></span>
	</div>
	<div class="cart">

		<div class="row product-selected">
			<div class="table-responsive">

			</div>
		</div>
		<!-- enf product-selected -->
	</div>

</section>
{% endblock %}