<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="wclassth=device-wclassth, initial-scale=1">
	<title>KHUYEN MAI</title>
	<link rel="icon" href="../images/ph11.png" type="image/gif" sizes="16x16">

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="../bootstrap/bootstrap.min.css" rel="stylesheet">

	<link href="../css/index-style.css" rel="stylesheet">
	<link href="../css/phu-kien-style.css" rel="stylesheet">
	<link href="../css/khuyen-mai-style.css" rel="stylesheet">

	<link rel="stylesheet" href="../owlcarousel/owl.carousel.min.css">
	<link rel="stylesheet" href="../owlcarousel/owl.theme.default.min.css">
	<!-- Owl Carousel 2 -->
	


</head>
<body>
	<div id="page" class="">

		<header>
			<div class="search-bar">
				<div class="container">
					<div class="row no-bg">
						<div class="col4 dia-chi">
							<p><b>Địa chỉ: </b>  169 Ga Đỗ Xá - Thường Tín - Hà Nội</p>
							<p><b>Liên hệ:</b>  0943271111 _ 0963948686</p>
						</div>  
						<div class="search-box">
							<form role="search">
								<div>
									<input type="text" name="search" placeholder="Bạn muốn tìm gì ?">
									<button class="search-button glyphicon glyphicon-search" type="submit"></button>
								</div>
							</form>   
						</div>

						<div class="sign col4 log-in">
							<span id="login" class="show-login" >Đăng nhập - Đăng ký tài khoản</span>
							<ul class="logged-box log-in-box">
								<li>

									<span data-toggle="modal" data-target="#loginModal">Đăng nhập </span>
								</li>
								<li>
									<span data-toggle="modal" data-target="#registerModal">Đăng Ký</span>
								</li>
								
							</ul>
						</div>
						<div class="sign col4 logged">
							<span id="login"> $ Tên người dùng</span>
							<ul class="logged-box">
								<li><a href="user.html">Quản lý tài khoản</a></li>
								<li><a href="gio-hang.html">Đơn hàng của tôi</a></li>
								<li><span href="" class="onclick-loggoff show-logged">Đăng xuất</span></li>
							</ul>	
						</div>
					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end search-bar -->


			<div class="main-menu-bar"> 
				<div class="container">
					<div class="row">
						<div class="menu-button-box">
							<button class="menu-button" type="button">
							</button>
						</div>
						<div class="logo-box">
							<a class="logo" href="index.html"></a>
						</div> 
						<div class="main-menu-box">
							<nav class="main-menu">
								<ul class="">
									<li class="dkdn"><a href="#">ĐĂNG KÍ - ĐĂNG NHẬP</a></li>
									<li class="mm-tc"><a href="index.html">TRANG CHỦ</a></li>
									<li class="mm-dt"><a href="danh-sach.html">ĐIỆN THOẠI</a>
										<div class="menu-dropdown">
											<ul>
												<li>HÃNG SẢN XUẤT</li>
												<li><a href="danh-sach.html">APPLE</a></li>
												<li><a href="danh-sach.html">SAMSUNG</a></li>
												<li><a href="danh-sach.html">SONY</a></li>
												<li><a href="danh-sach.html">OPPO</a></li>
												<li><a href="danh-sach.html">ASUS</a></li>
												<li><a href="danh-sach.html">LENOVO</a></li>
												<li><a href="danh-sach.html">CÁC HÃNG KHÁC</a></li>
											</ul>
											<ul>
												<li>GIÁ TIỀN</li>
												<li><a href="danh-sach.html">Dưới 1 Triệu</a></li>
												<li><a href="danh-sach.html">Từ 1 đến 3 triệu</a></li>
												<li><a href="danh-sach.html">Từ 3 đến 5 triệu</a></li>
												<li><a href="danh-sach.html">Từ 3 đến 7 triệu</a></li>
												<li><a href="danh-sach.html">Từ 7 đến 10 triệu</a></li>
												<li><a href="danh-sach.html">Từ 10 đến 15 triệu</a></li>
												<li><a href="danh-sach.html">Trên 15 triệu</a></li>
											</ul>
											<ul>
												<li>LOẠI ĐIỆN THOẠI</li>
												<li><a href="danh-sach.html">IOS (iPhone) </a></li>
												<li><a href="danh-sach.html">Android</a></li>
												<li><a href="danh-sach.html">Hệ điều hành khác</a></li>
												<li><a href="danh-sach.html">Phổ thông</a></li>
											</ul>
										</div>
									</li>
									<li class="mm-pk"><a href="phu-kien.html">PHỤ KIỆN</a>
										<div class="menu-dropdown menu-dropdown2">
											<ul>			
												<li><a href="phu-kien.html" class="pk-icon-1">Pin sạc</a></li>
												<li><a href="phu-kien.html" class="pk-icon-2">Cáp sạc</a></li>
												<li><a href="phu-kien.html" class="pk-icon-3">Thẻ nhớ</a></li>
												<li><a href="phu-kien.html" class="pk-icon-4">Tai nghe</a></li>
												<li><a href="phu-kien.html" class="pk-icon-5">Loa</a></li>
												<li><a href="phu-kien.html" class="pk-icon-6">Ốp lưng</a></li>
												<li><a href="phu-kien.html" class="pk-icon-8">Gậy chụp ảnh</a></li>
												<li><a href="phu-kien.html" class="pk-icon-7">Phụ kiện Apple</a></li>
												<li><a href="phu-kien.html" class="pk-icon-9">Phụ kiện Sony</a></li>
											</ul>
										</div>
									</li>
									<li class="mm-km"><a class="active" href="khuyen-mai.html">KHUYẾN MẠI</a></li>
									<li class="mm-tcn"><a href="tin-tuc.html">TIN TỨC</a></li>
									<li class="mm-tcn"><a href="lien-he.html">LIÊN HỆ</a></li>
								</ul>
							</nav>
						</div>
						<div class="gh-box">
							<a class="gh" href="gio-hang.html"></a>
						</div>
					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end main-menu -->
			
		</header>
		<!-- HEADER / HEADER / HEADER / HEADER / HEADER / HEADER / HEADER / HEADER / HEADER / HEADER /-->










		<div class="blank-box" ></div> <!-- khoảng trắng ở phía trên để cách header với banner-->










	<section class="container" id="list-page">
		<div class="row mot-hang">
					<a href="" class="big-title">KHUYẾN MẠI ĐIỆN THOẠI</a>
					<span></span>
			</div> <!-- end -row -->
			<!-- THANH TIÊU ĐỀ //////////////////////////////////////////////////////////////////////// -->

		<div class="row">
			
			<div class="col-md-3 col-sm-6">
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-ph4"></div>
								<div class="name-price">
									<p class="name-product">iPhone 5s 32GB</p>
									<p class="price-product sale">6.990.000 VNĐ</p>
									<p class="price-product">5.990.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>iPhone 5s 32GB</p>
											<p> <span class="sale">6.990.000 VNĐ</span> 5.990.000 VNĐ</p>
											<span></span>
											<p>Màn hình: 4", Retina </p>
											<p>HĐH: iOS 10</p>
											<p>CPU: Apple A7 2 nhân</p>
											<p>Camera: 8 MP, Selfie: 5 MP</p>
											<p>PIN: 1560 mAh, SIM: 1 Sim</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->	
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-ph12"></div>
								<div class="name-price">
									<p class="name-product">OPPO A39 (Neo 9s)</p>
									<p class="price-product sale">5.490.000 VNĐ</p>
									<p class="price-product">4.490.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>OPPO A39 (Neo 9s)</p>
											<p> <span class="sale">5.490.000 VNĐ</span> 4.490.000 VNĐ</p>
											<span></span>
											<p>Màn hình: 6", Retina HD</p>
											<p>HĐH: Android 6.0 (Marshmallow)</p>
											<p>CPU: Apple A10 Fusion 4 nhân</p>
											<p>Camera: 2x12 MP, Selfie: 7 MP</p>
											<p>PIN: 2900 mAh, SIM: 1 SIM</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->			
			
			</div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="col-md-3 col-sm-6">
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-ph11"></div>
								<div class="name-price">
									<p class="name-product">HTC Desire 728G LTE</p>
									<p class="price-product sale">4.490.000 VNĐ</p>
									<p class="price-product">3.490.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>HTC Desire 728G LTE</p>
											<p> <span class="sale">4.490.000 VNĐ</span> 3.490.000 VNĐ</p>
											<span></span>
											<p>Màn hình: 6", Retina HD</p>
											<p>HĐH: Android 6.0 (Marshmallow)</p>
											<p>CPU: Apple A10 Fusion 4 nhân</p>
											<p>Camera: 2x12 MP, Selfie: 7 MP</p>
											<p>PIN: 2900 mAh, SIM: 1 SIM</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-ph10"></div>
								<div class="name-price">
									<p class="name-product">OPPO F1s</p>
									<p class="price-product sale">7.490.000 VNĐ</p>
									<p class="price-product">6.490.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>OPPO F1s</p>
											<p> <span class="sale">7.490.000 VNĐ</span> 6.490.000 VNĐ</p>
											<span></span>
											<p>Màn hình: 6", Retina HD</p>
											<p>HĐH: Android 6.0 (Marshmallow)</p>
											<p>CPU: Apple A10 Fusion 4 nhân</p>
											<p>Camera: 2x12 MP, Selfie: 7 MP</p>
											<p>PIN: 2900 mAh, SIM: 1 SIM</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->

			</div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="col-md-3 col-sm-6 col4">
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-ph7"></div>
								<div class="name-price">
									<p class="name-product">Asus Zenfone 3</p>
									<p class="price-product sale">8.990.000 VNĐ</p>
									<p class="price-product">7.990.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>Asus Zenfone 3</p>
											<p> <span class="sale">8.990.000 VNĐ</span> 7.990.000 VNĐ</p>
											<span></span>
											<p>Màn hình: 4.7", Retina HD</p>
											<p>HĐH: iOS 10</p>
											<p>CPU: Apple A9 2 nhân</p>
											<p>Camera: 12 MP, Selfie: 5 MP</p>
											<p>PIN: 1715 mAh, SIM: 1 Sim</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-ph4"></div>
								<div class="name-price">
									<p class="name-product">iPhone 5s 32GB</p>
									<p class="price-product sale">6.990.000 VNĐ</p>
									<p class="price-product">5.990.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>iPhone 5s 32GB</p>
											<p> <span class="sale">6.990.000 VNĐ</span> 5.990.000 VNĐ</p>
											<span></span>
											<p>Màn hình: 4", Retina </p>
											<p>HĐH: iOS 10</p>
											<p>CPU: Apple A7 2 nhân</p>
											<p>Camera: 8 MP, Selfie: 5 MP</p>
											<p>PIN: 1560 mAh, SIM: 1 Sim</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->
			</div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->
			<div class="col-md-3 col-sm-6 col4">
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-ph5"></div>
								<div class="name-price">
									<p class="name-product">Samsung Galaxy J7 Prime</p>
									<p class="price-product sale">6.990.000 VNĐ</p>
									<p class="price-product">5.990.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>Samsung Galaxy J7 Prime</p>
											<p> <span class="sale">6.990.000 VNĐ</span> 5.990.000 VNĐ</p>
											<span></span>
											<p>Màn hình: 5.5", Full HD </p>
											<p>HĐH: Android 6.0 (Marshmallow)</p>
											<p>CPU: Exynos 7870 8 nhân</p>
											<p>Camera: 13 MP, Selfie: 8 MP</p>
											<p>PIN: 1560 mAh, SIM: 1 Sim</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-ph3"></div>
								<div class="name-price">
									<p class="name-product">iPhone SE 64GB</p>
									<p class="price-product sale">10.990.000 VNĐ</p>
									<p class="price-product">9.990.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>iPhone SE 64GB</p>
											<p> <span class="sale">10.990.000 VNĐ</span> 9.990.000 VNĐ</p>
											<span></span>
											<p>Màn hình: 4", Retina</p>
											<p>HĐH: iOS 9</p>
											<p>CPU: Apple A9 2 nhân</p>
											<p>Camera: 12 MP, Selfie: 5 MP</p>
											<p>PIN: 1715 mAh, SIM: 1 Sim</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->	
			</div><!-- end col -->
			<div class="col-sx-12 pagination-box">
				<ul class="pagination">
				    <li class="active"><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li><a href="#">&gt;</a></li>
				    <li><a href="#">Cuối</a></li>
				  </ul>
			</div> <!-- end pagination-box -->




		<div class="row mot-hang">
					<a href="" class="big-title">KHUYẾN MẠI PHỤ KIỆN</a>
					<span></span>
			</div> <!-- end -row -->
			<!-- THANH TIÊU ĐỀ //////////////////////////////////////////////////////////////////////// -->

		<div class="row">
			
			<div class="col-md-3 col-sm-6">
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-pk1"></div>
								<div class="name-price">
									<p class="name-product">Loa Bluetooth Awei Y200</p>
									<p class="price-product sale">700.000 VNĐ</p>
									<p class="price-product">600.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>Loa Bluetooth Awei Y200</p>
											<p>600.000 VNĐ</p>
											<span></span>
											<p>Các nút ấn trên loa là dạng cảm ứng nhạy và dễ sử dụng.</p>
											<p>Các nút ấn trên loa là dạng cảm ứng nhạy và dễ sử dụng.</p>
											<p>Công nghệ bluetooth 3.0 giúp kết nối trong khoảng 10m.</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-pk2"></div>
								<div class="name-price">
									<p class="name-product">Thẻ nhớ Micro SD 64 GB</p>
									<p class="price-product sale">850.000 VNĐ</p>
									<p class="price-product">750.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>Thẻ nhớ Micro SD 64 GB Class 10</p>
											<p>750.000 VNĐ</p>
											<span></span>
											<p>Tốc độ đọc: 45 MB/s</p>
											<p>Tốc độ ghi: 10 MB/s</p>
											<p>Thoải mái lưu trữ cho điện thoại, máy tính bảng</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->			
			
			</div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="col-md-3 col-sm-6">
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-pk3"></div>
								<div class="name-price">
									<p class="name-product">Dây cáp Micro USB 1m</p>
									<p class="price-product sale">150.000 VNĐ</p>
									<p class="price-product">100.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>Dây cáp Micro USB 1 m Cliptec Titanium</p>
											<p>100.000 VNĐ</p>
											<span></span>
											<p>Chất lượng tương đương với hàng chính hãng</p>
											<p>Dùng để truyền dữ liệu hay sạc pin</p>
											<p>Dây dài 100 cm</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-pk4"></div>
								<div class="name-price">
									<p class="name-product">Tai nghe chụp tai</p>
									<p class="price-product sale">700.000 VNĐ</p>
									<p class="price-product">600.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>Tai nghe chụp tai</p>
											<p>600.000 VNĐ</p>
											<span></span>
											<p>Lớp đệm tai êm và dày, giúp đeo tai thoải mái và hạn chế bị rách.</p>
											<p>Có thể kéo dãn tai nghe 4 cm để vừa vặn hơn khi sử dụng.</p>
											<p>Tương thích với hầu hết điện thoại hiện nay.</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->		

			</div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->

			<div class="col-md-3 col-sm-6 col4">
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-pk7"></div>
								<div class="name-price">
									<p class="name-product">Pin sạc dự phòng 5.000mAh</p>
									<p class="price-product sale">300.000 VNĐ</p>
									<p class="price-product">200.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>Pin sạc dự phòng Safari 2 5.000mAh</p>
											<p>200.000 VNĐ</p>
											<span></span>
											<p>Thiết kế bắt mắt với họa tiết caro.</p>
											<p>Đèn LED báo mức pin khả dụng.</p>
											<p>Chức năng lắc để hiển thị dung lượng pin.</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-pk8"></div>
								<div class="name-price">
									<p class="name-product">Loa Bluetooth Thỏ</p>
									<p class="price-product sale">400.000 VNĐ</p>
									<p class="price-product">300.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>Loa Bluetooth iCutes MB-M815 Thỏ</p>
											<p>300.000 VNĐ</p>
											<span></span>
											<p>Loa hình chú thỏ nhiều màu sắc, vỏ cao su hạn chế trầy xước</p>
											<p>Âm thanh phát ra lớn, không bị rè, nhỏ gọn trong lòng bàn tay.</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->
			</div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->
			<div class="col-md-3 col-sm-6 col4">
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-pk9"></div>
								<div class="name-price">
									<p class="name-product">Gậy chụp ảnh Osmia OW1</p>
									<p class="price-product sale">80.000 VNĐ</p>
									<p class="price-product">70.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>Gậy chụp ảnh Osmia OW1</p>
											<p>70.000 VNĐ</p>
											<span></span>
											<p>Thiết kế gậy rất chuyên nghiệp, cầm chắc tay.</p>
											<p>Phù hợp với nhiều dòng điện thoại dưới 6 inch khác nhau.</p>
											<p>Không cần hẹn giờ, chỉ cần ấn nút trên thân gậy để chụp ảnh.</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->
				<div class="product-box ph">
								<span class="tag-hot tag-new">SALE</span>
								<div class="img-product img-pk10"></div>
								<div class="name-price">
									<p class="name-product">Ốp lưng in Hoa văn</p>
									<p class="price-product sale">80.000 VNĐ</p>
									<p class="price-product">70.000 VNĐ</p>
									<div class="info-product info-ph">
										<div>
											<p>Ốp lưng Huawei Y6 Nhựa Solid in Hoa văn</p>
											<p>70.000 VNĐ</p>
											<span></span>
											<p>Chất liệu nhựa cao cấp thời trang và đẹp mắt</p>
											<p>Thiết kế vừa vặn và ôm sát thân máy</p>
											<p>oạ tiết màu sắc, nổi bật</p>
										</div>
										<a href="chi-tiet.html" class="watch">Xem chi tiết</a>
										<span class="buy">Mua hàng</span>
										<span class="buy added">Đã thêm vào giỏ hàng</span>
									</div><!-- end info-box -->
								</div><!-- end name-price -->
							</div><!-- end product-box -->
			</div><!-- end col -->

			<div class="col-sx-12 pagination-box">
				<ul class="pagination">
				    <li class="active"><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li><a href="#">&gt;</a></li>
				    <li><a href="#">Cuối</a></li>
				  </ul>
			</div> <!-- end pagination-box -->
			

	

			

		


	</section>
	









	<a href="#page" class="back-to-top"></a>

		<div class="contact-box">
			<p class="contact-box-title contact-box-button">Liên hệ - Góp ý <span class="inline">với chúng tôi</span></p>
			<span class="contact-box-icon contact-box-button"></span>

			<form role="form">
				<div class="form-group">
					<label for="contact-name">Tên của bạn :</label>
					<input type="text" class="form-control" id="contact-name" placeholder="">
				</div>
				<div class="form-group">
					<label for="contact-email">Địa chỉ Email của bạn :</label>
					<input type="email" class="form-control" id="contact-email" placeholder="">
				</div>
				<div class="form-group">
					<label for="contact-content">Nội dung:</label>
					<br>
					<textarea rows="4" cols="30" name="comment" id="contact-content"></textarea>
				</div>
				<div class="form-group"><button type="submit" class="btn btn-default btt-button">Submit</button></div>
			</form>
		</div> <!-- end contact-box  -->
		<!-- HẾT CONTACT BOX / HẾT CONTACT BOX / HẾT CONTACT BOX / HẾT CONTACT BOX / HẾT CONTACT BOX / -->










		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-2 col1">
						<a class="logo" href=""></a>
					</div>
					<div class="col-md-3 col1 ad">
						<p>Địa chỉ : <br>169 Ga Đỗ Xá - Thường Tín - Hà Nội</p>
						<p>Điện thoại : <br>0943271111 _ 0963948686</p>
					</div>
					<div class="col-md-3 col1 thong-tin">
						<div class="thong-tin1">
							<a href="">Mua Online</a>
							<a href="">Thanh toán</a>
							<a href="">Giao hàng</a>
						</div>
						<div class="thong-tin2">
							<a href="">Mua trả góp</a>
							<a href="">Bảo hành</a>
							<a href="">Tuyển dụng</a>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<form>
							<label for="email">Đăng ký nhận tin mới :</label>
							<input type="email" id="email" placeholder="Địa chỉ Email của bạn">
							<button type="submit">Gửi</button>
						</form>
						<a class="facebook" href=""></a>
					</div>
				</div> <!-- end row -->
			</div><!-- end container -->
		</footer><!-- end footer-->





	</div><!-- end page -->


	


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/index.js"></script>
	<script type="text/javascript" src="../js/login-form-js.js"></script>

	<script src="../owlcarousel/owl.carousel.min.js"></script>
	<script src="../owlcarousel/carousel-phu-kien.js"></script>
	<!-- OwlCarousel2 -->
</body>
</html>