{% extends "products.html" %}

{% block sideLeftProduct %}
<div class="col-md-9 col-sm-6 ">
    <div class="search-box">
        <form role="search" action="/tim-kiem/" method="get">
            <div>
                <input type="text" name="q" placeholder="Bạn muốn tìm gì ?">
                <button class="search-button glyphicon glyphicon-search" type="submit"></button>
            </div>
        </form>
    </div>
 </div>

    <div class="col-md-9 col-sm-6">

			    {% for item_p in products %}

                    <div class="col-md-4 col-sm-6">
                        <div class="product-box ph">
                            {% set product_id_current = '' %}

                            {% for item_i in images %}

                                {% if(item_i.product_id != product_id_current) %}
                                    {% if item_i.product_id in item_p.product_id %}
                                        <img src="/images/products/{{ item_i.url_image }}">
                                    {% endif %}
                                    {% set product_id_current = item_i.product_id %}
                                {% endif %}

                            {% endfor %}

                            <div class="name-price">
                                <p class="name-product">{{ item_p.product_name }}</p>
                                <p class="price-product">{{ item_p.price }} VNĐ</p>
                                <div class="info-product info-ph">
                                    <div>
                                        <p>{{ item_p.product_name }}</p>
                                        <p>{{ item_p.price }} VNĐ</p>
                                        <span></span>
                                        <!--
                                        {% for des1, des2 in item_p.main_property %}
                                            <p>{{ des1 }} {{ des2 }}</p>
                                        {% endfor %}
                                        -->
                                    </div>
                                    <a href="/product/detail/{{ item_p.product_id }}" class="watch">Xem chi tiết</a>
                                    <span class="buy">Mua hàng</span>
                                    <span class="buy added">Đã thêm vào giỏ hàng</span>
                                    </div><!-- end info-box -->
                            </div><!-- end name-price -->
                        </div><!-- end product-box -->
                    </div>
                {% endfor %}

                <div class="col-md-12 pagination-box">
                    <ul class="pagination">
                        <li><a href="?page=1" {% if (pageCurrent < 1) %} class="noclick" {% endif %}>Trang đầu</a></li>
                        {% for i in range(1, allpage + 1) %}
                            {% if (pageCurrent > 0) %}
                                <li 3 {% if(pageCurrent == i) %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
                            {% elif (i === 1) %}
                                <li 1 ><a href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li 2><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li><a href="?page={{ allpage }}">Trang cuối</a></li>
                      </ul>
                </div><!-- end col -->

            </div><!-- end col -->
			<!-- HẾT CỘT NÀY RỒI  //////////////////////////////////////////////////////////////////////////////////////////// -->


		</div><!-- end row -->
{% endblock %}